$light: #95bec0;
$primary: #0f7b75;
$black: #002f3e;
$blue: #169c93;

.fs-sm {
  font-size: small;
}

@import './base.scss';

a {
  text-decoration: underline;
  color: $black;
  transition: 0.4s;

  &:hover {
    cursor: pointer;
  }
}

.asp-link {
  @extend a;
}

.sticky-top {
  @extend .pt-1;
}

.asp-title {
  @extend .pt-1;
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  @extend .justify-content-between;
  @extend .fw-bold;
}

.asp-sticky-title {
  @extend .sticky-top;
  @extend .asp-title;
  background: white;
}

.asp-sticky-container {
  max-height: 20rem;
  overflow: auto;
}

.btn-submit {
  background-color: #E95A5E;
  color: white;

  &:hover {
    background-color: #EF767A;
    color: white;
  }
}

.input-required-lbl::after {
  content: "*";
  color: $danger;
  padding-left: 0.3rem;
}

@import './transitions/fade';